footer a{
  color: #fff;
  font-weight: bold;
}

footer a:hover, footer a:focus, footer a:active{
  color: #414141;
  text-decoration: none;
  outline: none;
}

.navbar-default {
  background-color: #b32f2f;
  border-color: #b32f2f;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
}

@media (min-width: 768px){
    .navbar-nav{
        float:none;
        margin: 15px auto;
        display: table;
        table-layout: fixed;
    }

}

#center{
  text-align: center;
}

.header{ margin: 20px 0 15px 0;}

.navbar-default .navbar-nav > li > a {
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
    margin: 0 0.8em;
    outline: medium none;
    padding: 0.2em 0.4em;
    text-decoration: none;
    text-transform: uppercase;
}

.nav > li{
  display: table-cell;
  vertical-align: middle;
  float: none;
}

.navbar-nav > li > a {
    padding-bottom: 0;
    padding-top: 0;
}

.padding{
	padding: 50px 0;
}

.padding-bottom{
  padding-bottom: 50px;
}

.padding-p{
  padding: 20px 0;
}

h1, h2, h3, p {color: #fff;
text-align: center;}

img {
	margin: 0 auto;
}

p {
	text-align: center;
}

.col-sm-5 > h1{
  text-align:left;
}

.marg{
  margin-top: 60px;
}

.marg-bot{
  margin-bottom: 70px;
}

.text{
  font-size: 1.2em !important;
  
}

#hover-cap-4col .thumbnail {
    position:relative;
    overflow:hidden;  
}
.caption {
    display: none;
    position: absolute;
    background: rgba(58,58,58,0.8);
    width: 100%;
    height: 100%;
    color:#fff !important;
    border-radius: 3px;
    
}

.thumbnail{
  border-radius: 4px;
  border: 0;
  padding: 0;
  background-color: #3a3a3a;
}

hr{
  margin: 100px 0;
  height: 1px;
  border: 0;
  color: #535353;
  background-color: #535353;
}

.h1-produit{
  margin-top: 0;
  margin-bottom: 25px;
}

.fixe{
	position: fixed;
}

.red {
  color: #a60101;
 }

 .carousel-caption { text-shadow: none; }

 .margin-logo{
  margin: 0 15px;
 }

.ha-header-bottom{
-webkit-box-shadow: 0 0 6px 1px #2E2E2E;
box-shadow: 0 0 6px 1px #2E2E2E;
}

shadow{
  -webkit-box-shadow:inset 0 0 6px 6px #2E2E2E;
  -moz-box-shadow:inset 0 0 6px 6px #2E2E2E;
  box-shadow:inset 0 0 6px 6px #2E2E2E;
}

footer{
  background-color: #b32f2f;
}

footer p{
  color: ;
  padding: 40px 0 25px 0;
}

.right{
  float: right;
}

.left{
  float: left;
}

#map-canvas, .frame{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}


.pr{
  height: 55px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 18px;
  box-shadow: none;
  background-color: #3e3e3e;
  border: 1px solid #343434;
 
}

.btn-pr{
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin-left: 18px;
  background: none;
  color: #fff;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  padding: 10px 35px;
  font-weight: bold;
}

.adress-pr{
  color: #fff;
  margin-top:40px;
  line-height: 1.5em;
}

.pin{
  margin-top: 55px;
}

@media (max-width: 768px) {
  
  .pin{
    margin-top: 45px;
  }

  figure img{
    margin-bottom: 35px;
  }
  
  hr{
    margin: 50px 0;
  }
}

}
.form-group {
  margin-bottom: 0;
}

header .navbar{
  margin: 20px 0 40px 0;
}

.img-hover:hover{
  background-color: #16a085;
 text-decoration: none;
 -webkit-transition: 0.25s;
 -moz-transition: 0.25s;
 -o-transition: 0.25s;
 transition: 0.25s;
 -webkit-backface-visibility: hidden;

}

[class*="icon-"] {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../img/svg/sprites.svg);
  background-repeat: no-repeat;
}
.icon-search {
  background-position: 0 0;
  width: 32px;
  
}

.icon-close {
  background-position: -48px 0;
  width: 32px;
}


.thumbnail .caption{
  padding: 20px;
}

.caption span{
  margin-top: 30px;
  left: 45%;
  position: relative;
}

.caption h3{
  text-align: left;
  margin-top: 0;
}


.cl-effect-15 li a {
  color: rgba(0,0,0,0.2);
  text-shadow: none;
}

.cl-effect-15 li a::before {
  color: #fff;
  content: attr(data-hover);
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 li a:hover::before,
.cl-effect-15 li a:focus::before {
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
  opacity: 0;
}

.cbp-so-scroller {
  overflow: hidden;
}


/* Clear floats of children */
.cbp-so-section:before,
.cbp-so-section:after {
  content: " ";
  display: table;
}

.cbp-so-section:after {
  clear: both;
}

/* Sides */
.cbp-so-side {
  -webkit-transition: -webkit-transform 0.9s, opacity 0.9s;
  -moz-transition: -moz-transform 0.9s, opacity 0.9s;
  transition: transform 0.9s, opacity 0.9s;
}

/* Clear floats of children */
.cbp-so-side:before,
.cbp-so-side:after {
  content: " ";
  display: table;
}

.cbp-so-side:after {
  clear: both;
}



/* Initial state (hidden or anything else) */
.cbp-so-init .cbp-so-side {
  opacity: 0;
}

.cbp-so-init .cbp-so-side-left {
  -webkit-transform: translateX(-80px);
  -moz-transform: translateX(-80px);
  transform: translateX(-80px);
}

.cbp-so-init .cbp-so-side-right {
  -webkit-transform: translateX(80px);
  -moz-transform: translateX(80px);
  transform: translateX(80px);
}

/* Animated state */
/* add you final states (transition) or your effects (animations) for each side */
.cbp-so-section.cbp-so-animate .cbp-so-side-left,
.cbp-so-section.cbp-so-animate .cbp-so-side-right {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}


.cbp-so-section.cbp-so-animate .cbp-so-side-right,
.cbp-so-section.cbp-so-animate .cbp-so-side-left {
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


/* Example media queries */

@media screen and (max-width: 73.5em) {

  .cbp-so-section h2 {
    margin: 0;
  }

  .cbp-so-side img {
    max-width: 120%;
  }
}

@media screen and (max-width: 41.125em) {
  .cbp-so-side {
    float: none;
    width: 100%;
  }

  .cbp-so-side img {
    max-width: 100%;
  }
}


table{
  display: none;
}

a.atest:hover + .col-xs-1 table,a.atest:focus + table{
  display: block;
}

.table{
  padding: 10px 10px 0 10px;
  border-collapse: inherit;
  height: 0px;
  width: 0px;
}

.dark{
  background-color: #414141;
  padding: 10px;
}

.light{
  background-color: #3e3e3e;
  border-top: 1px solid #343434;
  border-bottom: 1px solid #343434;
  padding: 10px;
}



.popover {
  float: left;
  min-width: 150px;
  padding: 0;
  margin: 2px 0 0;
  list-style: none;
  border-radius: 3px;
  -webkit-box-shadow: 0px;
          box-shadow: 0px 0px;
  background-clip: padding-box;
  background-color: #414141;
  border: 1px solid #343434;
}

.fade {
  -webkit-transition: opacity 0.25s ease-in 0s;
  -moz-transition: opacity 0.25s ease-in 0s;
  -ms-transition: opacity 0.25s ease-in 0s;
  -o- transition: opacity 0.25s ease-in 0s;
  transition: opacity 0.25s ease-in 0s;
  opacity: 0;
}


.popover-content{
  padding: 0;
}

.popover-content p{
  margin: 0;
  text-align: left;
  font-size: 14px;
  font-weight: 700;
}

.imghover:hover img {
  opacity: 0.2;
 -webkit-transition: 0.25s;
 -moz-transition: 0.25s;
 -o-transition: 0.25s;
 transition: 0.25s;
 
}

.imghover {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.verti {
  position: relative;
  top: 50%;
  transform: translateY(50%);
}

.vert{
  border: 3px solid #76a954;
}

.vert:hover{
  background-color: rgba(118, 169, 84, 1);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.rouge {
  border: 3px solid #B32F2F;
}

.rouge:hover {
  background-color: #B32F2F;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.flex {
     display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
     display: -moz-box;      /* OLD: Firefox (buggy) */ 
     display: -ms-flexbox;   /* MID: IE 10 */
     display: -webkit-flex;  /* NEW, Chrome 21+ */
     display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
     -webkit-box-align: center; -moz-box-align: center; /* OLD… */
     -ms-flex-align: center; /* You know the drill now… */
     -webkit-align-items: center;
     align-items: center;
}


.leftspan{
padding-right:20px;
border-right: 1px solid #535353;
}

.row .rightspan {
margin-left: -0.138297872340425%;
*margin-left: -0.13191489361702%;
padding-left:20px;
border-left: 1px solid #535353;
}

.row .rightspan:first-child {
margin-left: -0.11063829787234%;
*margin-left: -0.104255319148938%;
}

.marg-contact{
  margin-top: 20px;
}

.col-md-12 h2{
  margin-top: 0;
  margin-bottom: 30px;
}
